.items-wrapper
    display flex

    .item
        position relative
        display inline-block
        margin 5px

        .delete, .edit
            opacity 0
            visibility hidden

        &:hover .delete, &:hover .edit
            visibility visible
            opacity 1

        .link
            button-flat $blue
            padding 10px
            margin 0
