.items-wrapper
    display flex

    .item
        position relative
        display inline-block

        .delete
            display none

        &:hover .delete
            display flex

        .link
            padding 10px
            button-flat $blue
