.items-wrapper
    display flex
    flex-wrap wrap

    h1
        width 100%

    .item
        position relative
        display inline-block
        margin 5px

        .delete, .edit
            opacity 0
            visibility hidden

        &:hover .delete, &:hover .edit
            visibility visible
            opacity 1

        .link
            button-flat $blue
            padding 10px
            margin 0

.initiable
    visibility hidden
    opacity 0
    transition opacity .2s ease-in

    &.show
        visibility visible
        opacity 1

.indicator
    background #fff
    border-radius 50%
    width 30px
    height 30px
    display flex
    align-items center
    justify-content center
    margin-right 5px
    flex-shrink 0

    .fa-remove
        color $red

    .fa-check
        color $green
