.error-wrapper
    display flex
    align-content center
    align-items center
    justify-content center
    height 100%
    width 100%

    .error
        max-width 400px
        background $red
        color $white
        border-radius $space
        padding $space*2
        display flex
        justify-content center
        flex-wrap wrap

    .error-title
        text-align center
        display block
        margin 0
        margin $space 0
        font-size $space*4
        font-weight 100
