.form
    padding $space
    margin auto
    width 500px

.input-row
    display flex

.label
    font-size $space*2
    padding $space

.input
    flex-grow 1
    padding $space
    font-size $space*2
    border-radius $hspace
    color $black
    border none
    outline none
    background $white
