doctype
html(lang="en")
head
    meta(charset="UTF-8")
    title Server Error!
    style.
        body {
            background: #eee;
            font-family: Helvetica, Arial, sans-serif;
        }

        .error {
            max-width: 300px;
            background: #bd1919;
            color: #fff;
        }
body
    .error
        h1 Error on server!
        h2 Please check logs
