extends layout

block title
    | Помилка

block content
    - msg = msg || 'Помилка серверу! Перегляньте консольний вивід'
    - link = link || {title: 'На головну', href: '/'}

    .error-wrapper: .error
        h1.error-title= msg
        a.button-green(href=link.href)= link.title
