- msg = msg || 'Помилка серверу! Перегляньте консольний вивід'
- link = link || {title: 'На головну', href: '/'}
extends layout

block title
    | Помилка

block content
    style.
        body {
            background: #eee;
            font-family: Helvetica, Arial, sans-serif;
        }

        .error {
            max-width: 300px;
            background: #bd1919;
            color: #fff;
            padding: 20px;
            margin: 30px auto;
        }

    body
        .error
            h1= msg
            if link
                a(href=link.href)= link.title
