doctype
html(lang="en" ng-app="app")
    head
        base(href="/")
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/main.css")
        link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
        title Система тестування

    body
        .menu-wrapper
            a.menu-item(href="/") #[i.fa.fa-user] користувачі
            a.menu-item(href="/tests/") #[i.fa.fa-tasks] тести

            .right-menu-item(ng-controller="UsersCtrl" ng-init='setCurrent(#{JSON.stringify(user)})')
                b Привіт {{current.name}}
                button.button-blue(ng-click="logout()") #[i.fa.fa-sign-out] вийти

        .view(ng-view)
        script(src="/min.js")
