doctype
html(lang="en")
head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
    title
        block title
            | #
        |  - Система тестування

body
    .menu-wrapper
        a.menu-item(href="/") #[i.fa.fa-user] Користувачі
        a.menu-item(href="/tests/") #[i.fa.fa-tasks] Тести
        block menu

    block content
    script
        :coffee-script
            items = document.getElementsByClassName 'menu-item'
            path = window.location.href
            for el in items
                el.classList.add 'active' if el.href is path
