doctype
html(lang="en")
head
    meta(charset="UTF-8")
    link(rel="stylesheet", href="/css/main.css")
    title
        block title
            | #
        |  - Система тестування

body
    .menu-wrapper
        a.menu-item(href="/") Користувачі
        a.menu-item(href="/tests/") Тести
        block menu

    block content
