doctype
html(lang="en")
    head
        base(href="/")
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/main.css")
        link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
        title Система тестування

    body
        .view: .form.items-wrapper
            h1 Увійти як
            for user in users
                a.button-blue.item(href="/api/users/login/#{user.id}/")= user.name
