doctype
html(lang="en")
    head
        base(href="/")
        meta(charset="UTF-8")
        link(rel="stylesheet", href="/main.css")
        link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
        title Система тестування

    body
        .view: form.form(action="/api/users/login/" method="POST"): .input-row
            label.label Ім'я
            input.input(type="text" name="name")

            button.button-green(type="submit") #[i.fa.fa-sign-in] вхід

