extends tests

block title
    | Створення тесту

block content
    form.form(action="/tests/new/" method="POST"): .input-row
        span.label Назва
        input.input(type="text" name="name")

        button.button-green(type="submit") #[i.fa.fa-floppy-o] зберегти
