.items-wrapper.initiable(ng-class="{show: initialized}")
    .item(ng-repeat="test in tests")
            a.link(href="/tests/{{test.id}}") {{test.name}}
            a.delete(ng-click="delete(test.id)" ng-if="user.admin") #[i.fa.fa-remove]
            a.edit(href="/tests/edit/{{test.id}}" ng-if="user.admin") #[i.fa.fa-pencil]

    a.item.button-green(href="/tests/add/" ng-if="user.admin") #[i.fa.fa-plus-circle] додати тест
