//- a.menu-item(href="/tests/new/") #[i.fa.fa-plus-circle] Додати тест

.items-wrapper
    .item(ng-repeat="test in tests")
            a.link(href="/tests/#") {{test.name}}
            a.delete(href="/tests/delete/{{test.id}}") #[i.fa.fa-remove]
