.form
    .input-row
        span.label Назва
        input.input(type="text" ng-model="test.name")

    .section.questions-list
        span.label Список питань
        button.add-button(ng-click="addQuestion()") #[i.fa.fa-plus] Питання

        div.separated(ng-repeat="(index, question) in test.questions")
            .input-row
                span.label Питання
                input.input(type="text" ng-model="question.content")
                button.button-red(ng-click="removeQuestion(index)") #[i.fa.fa-remove]

            .section
                span.label Відповіді до питання
                button.add-button(ng-click="addAnswer(index)") #[i.fa.fa-plus] Відповідь

                .input-row(ng-repeat="(ansIndex, answer) in question.answers")
                    input.check(type="radio" ng-value="ansIndex" ng-model="question.answer")
                    input.input(type="text" ng-model="answer.content")
                    button.button-red(ng-click="removeAnswer(index, ansIndex)") #[i.fa.fa-remove]

    .input-row: button.button-green(ng-click="save()") #[i.fa.fa-floppy-o] зберегти
