mixin indicator()
    .indicator(ng-if="checked")
        i.fa.fa-check(ng-if="question.correct")
        i.fa.fa-remove(ng-if="!question.correct")

.form.initiable(ng-class="{show: initialized}")
    h1 {{test.name}}

    .questions-list(ng-repeat="question in test.questions")
        .input-row
            +indicator()
            b.label {{question.content}}

        .separated: label.input-row(ng-repeat="answer in question.answers")
            input.check(type="radio" ng-value="answer.id" ng-model="question.answer")
            spane.label(type="text") {{answer.content}} #[i.fa.fa-check(ng-if="answer.correct && checked")]

    .input-row(ng-if="!checked"): button.button-green.right-menu-item(ng-click="check()") #[i.fa.fa-check] перевірити
