extends layout

block title
    | Створення користувача

block content
    form.form(action="/users/new/" method="POST"): .input-row
        label.label Ім'я
        input.input(type="text" name="name")

        input.button-green(type="submit")
