form.form.initiable(ng-class="{show: initialized}"): .input-row
    label.label Ім'я
    input.input(type="text" ng-model="user.name")

    button.button-green(ng-click="save()") #[i.fa.fa-floppy-o] зберегти
