//- a.menu-item(href="/users/new/") #[i.fa.fa-plus-circle] Додати користувача

.items-wrapper
    .item(ng-repeat="user in users")
        a.link(href="/users/{{user.id}}") {{user.name}}
        a.delete(href="/users/delete/{{user.id}}") #[i.fa.fa-remove]
