extends layout

block title
    | Користувачі

block menu
    a.menu-item(href="/users/new/") Додати користувача

block content
    .items-wrapper
        for user in users
            a.item(href="/users/#{user.id}")= user.name
