mixin indicator()
    .indicator
        i.fa.fa-check(ng-if="question.answer.correct")
        i.fa.fa-remove(ng-if="!question.answer.correct")

.form.initiable(ng-class="{show: initialized}")
    h1 Результати {{user.name}}

    .questions-list(ng-repeat="test in results")
        .input-row: b.label {{test.name}}
        .separated
            .input-row(ng-repeat="question in test.questions")
                +indicator()
                b.label {{question.content}}
                i.label(type="text") {{question.answer.content}}
