a.menu-item(href="/users/add/") #[i.fa.fa-plus-circle] Додати користувача

.items-wrapper
    .item(ng-repeat="user in users")
        a.link(href="/users/{{user.id}}") {{user.name}}
        button.delete(ng-click="delete(user.id)") #[i.fa.fa-remove]
