extends layout

block title
    | Створення користувача

block content
    form(action="/users/new/" method="POST")
        span Ім'я
        input(type="text" name="name")

        input(type="submit")
