body {
    background: #eee;
    font-family: Helvetica, Arial, sans-serif;
}

.error {
    max-width: 300px;
    background: #bd1919;
    color: #fff;
    padding: 20px;
    margin: 30px auto;
}

.users-wrapper {
    display: flex;
}

.user-item {
    padding: 10px;
    display: inline-block;
}
